@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body{
    background-color: lightgreen;
}
main{
    margin: 0 auto;
    width: 80vw;
}
p{
    font-family: Arial, sans-serif;
}
.information{
    background-color: orange;
    float: left;
    width: 200px;
    margin: 5px;
    padding: 1rem;
    font-family: 'Roboto', sans-serif;
}
.information p{
    font-family: 'Roboto', sans-serif;
}
.classwork{
    font-family: Arial, sans-serif;
    float: left;
}
#Projects{
    background-color: yellow;
    padding: 1rem;
    margin: 10px;
    width: 250px;
}
#GitHub{
    background-color: darkgray;
    color: purple;
    width: 275px;
    padding: 1rem;
    margin: 10px;
}

img{
    width: 20%;
    float: right;
    border: 3px solid black;
    margin: 5px;
}

a:link { color: #e10000;}
a:visited { color: darkred;}
a:focus { color: darkred;}
a:hover { color: red;}
a:active { color: red;}
li{
    margin: 5px;
}